<header>
    <span>Issue Tracker System</span>
        <div class="heading">
                <button>  <a id="createProject" href="/project/createproject"><i class="fa fa-plus-square" style="font-size:15px"></i> Create Project</a></button>
              
        </div>
</header>