.main-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-parent h1 {
    width: 100%;
    text-align: center;
    font-size: 1.5ewm;
    background-color: black;
    color: white; }
  .main-parent #main-page {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    padding-top: 1rem; }
    .main-parent #main-page .project-list {
      width: 210px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #005eff;
      color: white;
      margin: 1rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; }
    .main-parent #main-page .project-list:hover {
      transform: scale(1.1);
      box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; }
