* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::-webkit-scrollbar {
  display: none; }

body {
  font-family: sans-serif;
  overflow: hidden;
  background-color: #ebebeb; }
  body #main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    body #main .border {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20%;
      opacity: 80%; }
    body #main .frame {
      position: absolute;
      display: flex;
      justify-content: center;
      top: 18%;
      height: 80vh;
      width: 80%;
      overflow: scroll;
      margin-inline: auto;
      overflow: hidden;
      background-color: white;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; }
